<?xml version='1.0' encoding='utf-8'?>
<widget id="com.electrolux.ecp.sdk.hybrid" version="1.1.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <content src="index.html" />
    <hook src="hooks/build.sh" type="before_prepare" />
    <hook src="hooks/overridegradleconfig.sh" type="after_platform_add" />
    <name>Hybrid</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <preference name="CodePushDeploymentKey" value="C5Ts-LH6bpwUmHim_PJZ2l7cm5Pt337aa655-2f62-4dbf-9e0e-cc1e83c1cf3f" />
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="26" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <preference name="CodePushDeploymentKey" value="gEriIREXuD5NMxJmKhqGUOUpy_Ii337aa655-2f62-4dbf-9e0e-cc1e83c1cf3f" />
        <preference name="UseSwiftLanguageVersion" value="3.2" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <allow-navigation clive="true" href="http://*/*" />
    <engine name="android" spec="^6.4.0" />
    <engine name="ios" spec="^4.5.3" />
    <plugin name="ecp-plugin" spec="file:../ecp-plugin" />
    <plugin name="cordova-plugin-cocoapod-support" spec="^1.3.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-add-swift-support" spec="^1.7.0" />
    <plugin name="cordova-plugin-code-push" spec="^1.10.0-beta" />
</widget>
